.navigator{
    margin-left: 35%;
}

.parag1{
    margin-left: 35%;
}

.parag2{
    margin-left: 37%;
}

.parag3{
    margin-left: 35%;
}

.parag4{
    margin-left: 37%;
}

.parag5{
    margin-left: 37%;
}

.text1{
    margin-left: 5%;
    color: brown;
}

.text2{
    margin-left: 5%;
}

.text3{
    margin-left: 5%;
    text-decoration: line-through;
}

.text4{
    color:blueviolet;
    text-decoration: underline;
}

.text5{
    margin-left: 3%;
    color:chocolate;
}

.text6{
    color:red;
    margin-left: 3%;
    font-weight: bolder;
}

.text7{
    margin-left: 2%;
    font-weight: bolder;
    color:firebrick
}

.text8{
    margin-left: 3%;
    text-decoration: underline;
}

.text9{
    text-decoration: underline;
    color: blueviolet;
}

.text10{
    color: indigo;
    margin-left: 2%;
}

.text11{
    color: darkgreen;
    font-weight: 900;
    margin-left: 44%;
}